* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}

body {
    background-color: #ccc;
}

header {
    padding: 50px;
    text-align: center;
    background: rgb(154, 154, 154);
    color: blue;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ccc;
    list-style: none;
}

ul li {
    color: aliceblue;
    padding: 25px;
    text-align: center;
}


main div.start {
    height:450px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: center;
    text-align: center;
    padding: 20px 50px;
    line-height: 30px;
    margin: 60px;
}

fieldset {
    border: none;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: flex;
    padding: 15px;
    background-color: bisque;
    margin-bottom: 10px;
}

input {
    position: relative;
    top: 7px;
    flex: 0 0 auto;
    margin-right: 10px;
}

.button-next {
    padding: 20px;
    font-size: 1em;
    font
}















